<!DOCTYPE html>
<html lang="en">
<head>
  <style type="text/css">a {text-decoration: none}</style>
  <meta charset="UTF-8">
  <title>在线题库</title>
</head>

<body>
{% if request.session.is_login %}
  <p><a href="#">当前登录：{{ request.session.user_id }}</a></p>
  <p><a href="/login/logout/">登出</a></p>
{% else %}
  <p><a href="/login/index/">登录</a></p>
  <p><a href="/login/register_page/">注册</a></p>
{% endif %}
<table width="1270" align="center" style="table-layout:fixed">
  <tr>
    <td width="60%">题目</td>
    <td width="40%" colspan="3" align="left" >&nbsp;&nbsp;&nbsp;题型</td>
  </tr>
  {%for question in questions%}
  {% if question.display %}
    <tr>
      <td width="60%" style="word-break : break-all; ">
        <p>
          <a href="/questions/{{question.id}}">
            {{question.id}}.{{question.question}}
          </a>
        </p>
      </td>
      <td width="2%" align="left" style="word-break : break-all; ">{{question.category}}</td>
      <td width="3%" align="left" style="word-break : break-all; ">{{question.difficulty}}</td>
      <td width="5%" align="left" style="word-break : break-all; ">{{question.author}}</td>
    </tr>
  {% endif %}
  {%endfor%}
</table>
</body>
</html>
