<!DOCTYPE html>
<html lang="en">
<head>
  <style type="text/css">a {text-decoration: none}</style>
  <meta charset="UTF-8">
  <title>在线题库</title>
</head>

<body>
<table width="1270" align="center" style="table-layout:fixed">
  <tr>
    <td width="70%">题目</td>
    <td width="30%" align="left" >&nbsp;&nbsp;&nbsp;题型</td>
  </tr>
  {%for question in questions%}
    <tr>
      <td width="70%" style="word-break : break-all; ">
        <p>
          <a href="/questions/{{question.id}}">
            {{question.question}}
          </a>
        </p>
      </td>
      <td width="30%" align="left" style="word-break : break-all; ">
        &nbsp;&nbsp;&nbsp;
        {{question.category}}
      </td>
    </tr>
  {%endfor%}
</table>
</body>
</html>
